<div class="flex">
  <app-navbar></app-navbar>
  <main class="w-full p-10 md:ml-64">

    <header class="py-3">
      <h2 class="text-3xl font-semibold text-primary">Dashboard</h2>
    </header>

    <app-list-birthday></app-list-birthday>
    <app-department-card (errorMessage)="handleErrorModal($event)"></app-department-card>
    <app-shift-card></app-shift-card>

  </main>

  <app-error-modal
    [isVisible]="showErrorModal"
    [errorMessage]="errorMessage"
    (closed)="showErrorModal = false">
  >
  </app-error-modal>

</div>
