<div class="h-screen w-screen bg-primary flex justify-center items-center">

    <div class="bg-component shadow-2xl rounded p-5 border-2 border-secondary">
        <div>
            <h2>
                Change your password.
            </h2>
        </div>

        <form (ngSubmit)="onSubmit()" #updatePasswordForm="ngForm" class="flex flex-col items-center">
            <div class="mb-4">
                <label for="password">
                  New password
                </label>
                <div class="bg-component shadow flex items-center relative text-4xl">
                  <input
                    class="text-deep w-full p-2 pr-10 rounded focus:outline-primary"
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="password"
                    required
                    #passwordfield="ngModel"
                  >
                  <button class="text-primary absolute right-2.5 " (click)="togglePasswordVisibility()" type="button">
                    <lucide-icon *ngIf="isPasswordVisible" [img]="EyeIcon"></lucide-icon>
                    <lucide-icon *ngIf="!isPasswordVisible" [img]="EyeClosedIcon"></lucide-icon>
                  </button>
                </div>

                <!-- error message for password -->
                <div *ngIf="passwordfield.invalid && (passwordfield.dirty || passwordfield.touched)" class="text-red-500 text-sm mt-1 p-1">
                  Password is required
                </div>

              </div>
            <button
              class="bg-secondary rounded w-full py-2 text-white-soft hover:cursor-pointer disabled:bg-secondary/70 disabled:cursor-auto"
              type="submit"
              [disabled]="updatePasswordForm.invalid"
            >
              Change password
            </button>
        </form>
    </div>

    <app-error-modal [isVisible]="showErrorModal" [errorMessage]="errorMessage" (closed)="showErrorModal = false"></app-error-modal>
</div>
