<main class="bg-page w-screen h-screen flex justify-center items-center px-5">
  <div class="text-center max-w-lg ">
    <p class="text-deep text-5xl mb-3">Page not found...</p>
    <h1 class="text-primary text-9xl font-black mb-3">404</h1>
    <div>
      <p class="text-deep text-5xl mb-3">and HR isn't either.</p>
      <p class="text-gray text-xl mb-5">
        It seems you’ve reached a non-existent or relocated page. On vacation? Promoted? Who knows…
      </p>
    </div>
    <button class="bg-secondary text-deep text-2xl py-2 px-4 rounded hover:opacity-80">
      <a href="/" class="">
        Back to Home
      </a>
    </button>
  </div>
</main>
