<main class="bg-page w-screen h-screen flex justify-center items-center px-5">
  <div class="text-center max-w-lg ">
    <p class="text-deep text-5xl mb-3">Internal Error...</p>
    <h1 class="text-primary text-9xl font-black mb-3">500</h1>
    <div>
      <p class="text-deep text-5xl mb-3">I think it's time for coffee.</p>
      <p class="text-gray text-xl mb-5">
        Overwhelmed with overdue work? Call IT—sometimes, just showing up fixes things.
      </p>
    </div>
    <button class="bg-secondary text-deep text-2xl py-2 px-4 rounded hover:opacity-80">
        Contact IT
    </button>
  </div>
</main>
