<div class="flex">
  <app-navbar></app-navbar>
  <main class="w-full p-10 md:ml-64">

    <header class="flex justify-between item items-end py-3">
      <h2 class="text-3xl font-semibold text-primary">Admin</h2>
      <button
        (click)="openModalNewUser()"
        class="flex items-center gap-1 text-deep text-base border border-gray p-2 rounded hover:opacity-80 hover:cursor-pointer"
      >
        <p>Add new User</p>
        <lucide-icon class="h-5 w-5" [img]="UserPlusIcon"></lucide-icon>
      </button>
    </header>

    <app-list-users (errorMessage)="handleErrorModal($event)" [newUser]="newUser" ></app-list-users>

  </main>

  <div
    *ngIf="isModalNewUserOpen"
    class="fixed inset-0 bg-deep/70 flex items-center justify-center"
  >
    <app-new-user-modal
      (errorMessage)="handleErrorModal($event)"
      (createdUser)="onUserCreated($event)"
      (closeModal)="closeModalNewUser()"
    >
    </app-new-user-modal>
  </div>

  <!-- Error Modal -->
  <app-error-modal
    [isVisible]="showErrorModal"
    [errorMessage]="errorMessage"
    (closed)="showErrorModal = false">
  </app-error-modal>

</div>
