<div class="flex">
  <app-navbar></app-navbar>

  <main class="w-full p-10 md:ml-64">
    <header class="flex justify-between items-end py-3">
      <h2 class="text-3xl font-semibold text-primary">Departments</h2>
      <button
        (click)="openModalNewDepartment()"
        class="flex items-center gap-1 text-deep text-base border border-gray p-2 rounded hover:opacity-80 hover:cursor-pointer"
      >
        Add new Department
      </button>
    </header>

    <section class="bg-component shadow w-full p-5 border border-gray-light rounded">
      <header class="flex justify-between items-center">
        <h2 class="text-2xl">List Departments</h2>

      </header>

      <table class="table-auto w-full mt-4 text-center">
        <thead class="bg-gray-light">
          <tr>
            <th class="rounded-tl rounded-bl py-2">Name</th>
            <th class="py-2">Manager</th>
            <th class="py-2">Number of Employees</th>
            <th class="rounded-tr rounded-br py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-light" *ngFor="let department of departments">
            <td class="py-2">{{ department.name }}</td>
            <td class="py-2">{{ department.manager?.firstName || 'N/A' }}</td>
            <td class="py-2">{{ department.numberOfEmployees }}</td>
            <td class="py-2">
              <button
                (click)="openDepartmentProfileModal(department)"
                class="border border-gray-light mr-1 p-1 rounded hover:opacity-70"
              >
                <lucide-icon [img]="EyeIcon"></lucide-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

  </main>

  <div
    *ngIf="isModalNewDepartmentOpen"
    class="fixed inset-0 bg-deep/70 flex items-center justify-center"
  >
    <app-new-department-modal (errorMessage)="handleErrorModal($event)" (createdDepartment)="onDepartmentCreated($event)" (closeModal)="closeModalNewDepartment()"></app-new-department-modal>

  </div>

  <div
    *ngIf="showDepartmentProfileModal"
    class="fixed inset-0 bg-deep/70 flex items-center justify-center"
  >
    <app-department-profile-modal
      [departmentId]="selectedDepartmentForModal?.id"
      (closeModal)="closeDepartmentProfileModal()"
      (errorMessage)="handleErrorModal($event)"
    >
    </app-department-profile-modal>
  </div>

  <!-- Error Modal -->
  <app-error-modal
    [isVisible]="showErrorModal"
    [errorMessage]="errorMessage"
    (closed)="showErrorModal = false">
  </app-error-modal>

</div>
