<div class="flex">
  <app-navbar></app-navbar>
  <main class="w-full p-10 md:ml-64">
    <header class="flex justify-between item items-end py-3">
      <h2 class="text-3xl font-semibold text-primary">Employees</h2>
      <button
        (click)="openModalNewEmployee()"
        class="flex items-center gap-1 text-deep text-base border border-gray p-2 rounded hover:opacity-80 hover:cursor-pointer"
      >
        Add new Employee
      </button>
    </header>
    <app-list-employees (errorMessage)="handleErrorModal($event)" [newEmployee]="newEmployee"></app-list-employees>
  </main>

  <div
    *ngIf="isModalNewEmployeeOpen"
    class="fixed inset-0 bg-deep/70 flex items-center justify-center"
  >
    <app-new-employee-modal
      (closeModal)="closeModalNewEmployee()"
      (errorMessage)="handleErrorModal($event)"
    >
    </app-new-employee-modal>
  </div>

  <div>

    <!-- Error Modal -->
      <app-error-modal
        [isVisible]="showErrorModal"
        [errorMessage]="errorMessage"
        (closed)="showErrorModal = false"
      >
      </app-error-modal>

  </div>
</div>
