<div
  *ngIf="employees.length > 0"
  class="w-full py-2 rounded-b-xl border-x border-b border-gray-light shadow-sm transition"
>
  <div
    (click)="employeeSelected.emit(employee)"
    *ngFor="let employee of employees"
    class="flex items-center px-3 py-2 border-b border-gray-light last:border-0"
  >
    <img
      class="w-10 h-10 rounded-full bg-secondary"
    />
    <div class="ml-3 flex-1">
      <div class="text-deep font-medium">{{ employee.firstName }} {{ employee.lastName }}</div>
      <div class="text-gray text-sm">{{ employee.department.name }}</div>
    </div>
  </div>

</div>
<div
  *ngIf="employees.length === 0"
  class="w-full p-2 rounded-xl border-x border-b border-gray-light shadow-sm transition"
>
  No employees found.
</div>

