<div class="h-screen w-full flex">
  <div class="hidden md:block bg-primary w-2/5 "></div>
  <main class="bg-page w-full md:w-3/5 flex flex-col items-center justify-center">
    <app-logo class="mb-20"></app-logo>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="w-96 flex flex-col text-2xl">

      <!-- username field -->
      <div class="mb-4">
        <input
          class="w-full bg-component text-deep shadow p-2 rounded focus:outline-primary"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="username"
          required
          #usernamefield="ngModel"
        >

        <!-- error message for username -->
        <div *ngIf="usernamefield.invalid && (usernamefield.dirty || usernamefield.touched)" class="text-red-500 text-sm mt-1 p-1">
          Username is required
        </div>

      </div>

      <!-- password field -->
      <div class="mb-4">
        <div class="bg-component shadow flex items-center relative">
          <input
            class="text-deep w-full p-2 pr-10 rounded focus:outline-primary"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            required
            #passwordfield="ngModel"
          >
          <button class="text-primary absolute right-2.5 " (click)="togglePasswordVisibility()" type="button">
            <lucide-icon *ngIf="isPasswordVisible" [img]="EyeIcon"></lucide-icon>
            <lucide-icon *ngIf="!isPasswordVisible" [img]="EyeClosedIcon"></lucide-icon>
          </button>
        </div>

        <!-- error message for password -->
        <div *ngIf="passwordfield.invalid && (passwordfield.dirty || passwordfield.touched)" class="text-red-500 text-sm mt-1 p-1">
          Password is required
        </div>

      </div>

      <button
        class="bg-primary hover:opacity-90 hover:cursor-pointer text-white-soft font-semibold p-2 rounded disabled:opacity-50 disabled:cursor-auto"
        type="submit"
        [disabled]="loginForm.invalid"
        >
        Login
      </button>
    </form>
  </main>
</div>

<app-error-modal [isVisible]="showErrorModal" [errorMessage]="errorMessage" (closed)="showErrorModal = false" ></app-error-modal>
