<div>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          <lucide-icon [img]="DashboardIcon"></lucide-icon>
          <p>dashboard</p>
        </a>
      </li>

      <li>
        <a
          routerLink="/employees"
          routerLinkActive="active"

        >
          <lucide-icon [img]="EmployeeIcon"></lucide-icon>
          <p>employees</p>
        </a>
      </li>

      <li>
        <a
          routerLink="/admin"
          routerLinkActive="active"

        >
          <lucide-icon [img]="AdminIcon"></lucide-icon>
          <p>admin</p>
        </a>
      </li>

    </ul>

  </nav>

  <div>
    <div></div>
    <p>username aaaaa</p>
  </div>

</div>
