<main class="bg-page w-screen h-screen flex justify-center items-center px-5">
  <div class="text-center max-w-lg ">
    <p class="text-deep text-5xl mb-3">Screen Size Restriction...</p>
    <lucide-icon class="text-red-600 w-32 h-32 mb-3 mx-auto" [img]="screenSizeRestrictionIcon" ></lucide-icon>
    <div>
      <p class="text-deep text-5xl mb-3">I think it's better to go for a bigger device</p>
      <p class="text-gray text-xl mb-5">
        If anything, call support.
      </p>
    </div>
    <button class="bg-primary text-white-soft text-2xl py-2 px-4 rounded hover:opacity-80">
        Contact IT
    </button>
  </div>
</main>
