<app-modal
  [headerText]="'Add new Employee'"
  [disableSave]="form.invalid"
  (closeCliked)="onClose()"
  (saveClicked)="onSave()"
>

  <form [formGroup]="form" class="text-xl">

    <!-- First and Last Name -->
    <div class="flex gap-5 mb-3">
      <div>
        <label class="flex">
          First Name:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="text" placeholder="Mariana" formControlName="firstName">
            <div *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('firstName')?.errors?.['required']">First name is required.</div>
            </div>
          </div>
        </label>
      </div>

      <div>
        <label class="flex">
          Last Name:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="text" placeholder="Carvalho" formControlName="lastName">
          </div>
        </label>
      </div>
    </div>

    <!-- Email and Phone -->
    <div class="flex gap-5 mb-3">
      <div>
        <label class="flex">
          Email:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="email" placeholder="example@email.com" formControlName="email">
            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('email')?.errors?.['email']">Invalid email.</div>
            </div>
          </div>
        </label>
      </div>

      <div>
        <label class="flex">
          Phone:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="text" placeholder="(00) 00000-0000" formControlName="phone">
            <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('phone')?.errors?.['required']">Phone is required.</div>
            </div>
          </div>
        </label>
      </div>
    </div>

    <!-- Gender and Department -->
    <div class="flex gap-5 mb-3">
      <div>
        <label class="flex">
          Gender:
          <div class="ml-2">
            <select class="border-b border-primary focus:outline-0" formControlName="gender">
              <option [ngValue]="null" disabled>Select gender</option>
              <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender }}</option>
            </select>
            <div *ngIf="form.get('gender')?.touched && form.get('gender')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('gender')?.errors?.['required']">Gender is required.</div>
            </div>
          </div>
        </label>
      </div>

      <div>
        <label class="flex">
          Department:
          <div class="ml-2">
            <select class="border-b border-primary focus:outline-0" formControlName="department">
              <option [ngValue]="null" disabled>Select department</option>
              <option *ngFor="let department of departments" [ngValue]="department">{{ department.name }}</option>
            </select>
            <div *ngIf="form.get('department')?.touched && form.get('department')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('department')?.errors?.['required']">Department is required.</div>
            </div>
          </div>
        </label>
      </div>
    </div>

    <!-- Position and Shift -->
    <div class="flex gap-5 mb-3">
      <div>
        <label class="flex">
          Position:
          <div class="ml-2">
            <select class="border-b border-primary focus:outline-0" formControlName="position">
              <option [ngValue]="null" disabled>Select position</option>
              <option *ngFor="let position of positions" [ngValue]="position">{{ position.name }}</option>
            </select>
            <div *ngIf="form.get('position')?.touched && form.get('position')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('position')?.errors?.['required']">Position is required.</div>
            </div>
          </div>
        </label>
      </div>

      <div>
        <label class="flex">
          Shift:
          <div class="ml-2">
            <select class="border-b border-primary focus:outline-0" formControlName="shift">
              <option [ngValue]="null" disabled>Select shift</option>
              <option *ngFor="let shift of shifts" [ngValue]="shift">{{ shift }}</option>
            </select>
          </div>
        </label>
      </div>
    </div>

    <!-- Birthday and Hired Date -->
    <div class="flex gap-5 mb-3">
      <div>
        <label class="flex">
          Birthday:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="date" formControlName="birthDate">
            <div *ngIf="form.get('birthDate')?.touched && form.get('birthDate')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('birthDate')?.errors?.['required']">Birthday is required.</div>
            </div>
          </div>
        </label>
      </div>

      <div>
        <label class="flex">
          Hired Date:
          <div class="ml-2">
            <input class="border-b border-primary focus:outline-0" type="date" formControlName="hiredDate">
            <div *ngIf="form.get('hiredDate')?.touched && form.get('hiredDate')?.invalid" class="mt-0.5 text-red-500 text-sm">
              <div *ngIf="form.get('hiredDate')?.errors?.['required']">Hiring date is required.</div>
            </div>
          </div>
        </label>
      </div>
    </div>

  </form>



</app-modal>
