<div class="h-screen w-full flex">
  <div class="hidden md:block bg-primary w-2/5 "></div>
  <main class="bg-page w-full md:w-3/5 flex flex-col items-center justify-center">
    <app-logo class="mb-20"></app-logo>
    <form class="w-96 flex flex-col text-2xl">
      <input
        class="bg-component text-deep shadow p-2 rounded focus:outline-primary"
        type="text"
        placeholder="Username"
      >
      <div class="bg-component shadow flex items-center my-4 relative">
        <input
          class="text-deep w-full p-2 pr-10 rounded focus:outline-primary"
          [type]="isPasswordVisible ? 'text' : 'password'"
          placeholder="Password"
        >
        <button class="text-primary absolute right-2.5 " (click)="togglePasswordVisibility()" type="button">
          <lucide-icon *ngIf="isPasswordVisible" [img]="EyeIcon"></lucide-icon>
          <lucide-icon *ngIf="!isPasswordVisible" [img]="EyeClosedIcon"></lucide-icon>
        </button>
      </div>
      <button class="bg-primary hover:opacity-90 hover:cursor-pointer text-white-soft font-semibold p-2 rounded">Login</button>
    </form>
  </main>
</div>
