<app-modal
  [headerText]="'Add new User'"
  [disableSave]="form.invalid"
  (closeCliked)="onClose()"
  (saveClicked)="onSave()"
>

  <form [formGroup]="form" class="space-y-6">
    <div *ngFor="let group of inputGroups" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <ng-container *ngFor="let field of group">
        <app-dynamic-field [field]="field" [form]="form"></app-dynamic-field>
      </ng-container>
    </div>
  </form>

  <div class="relative mt-4">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search first name"
      class="w-full pl-3 pr-10 py-2 border border-gray-light rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
      (input)="onSearch()"
    />
    <lucide-icon
      class="h-5 w-5 text-deep absolute right-3 top-1/2 transform -translate-y-1/2"
      [img]="UserRoundSearchIcon"
    >
    </lucide-icon>
  </div>

  <app-list-employee-search
    [firstName]="searchText"
    (employeeSelected)="onEmployeeSelected($event)"
    (errorMessage)="this.errorMessage.emit($event)"
  >
  </app-list-employee-search>

</app-modal>


