<app-modal
  [headerText]="'Add new User'"
  [disableSave]="form.invalid"
  (closeCliked)="onClose()"
  (saveClicked)="onSave()"
>

  <form [formGroup]="form" class="space-y-6">
    <div *ngFor="let group of inputGroups" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <ng-container *ngFor="let field of group">
        <app-dynamic-field [field]="field" [form]="form"></app-dynamic-field>
      </ng-container>
    </div>
    <div>
      <label class="mb-2 text-sm font-medium text-gray">Employee</label>
      <app-list-employee-search
        (employeeSelected)="onEmployeeSelected($event)"
        (errorMessage)="this.errorMessage.emit($event)"
      >
      </app-list-employee-search>
    </div>
  </form>

</app-modal>


