<section class="bg-component shadow w-full p-5 border border-gray-light rounded">
  <header class="flex justify-between items-center">
    <h2 class="text-2xl">List Employees</h2>
    <div class="hidden md:flex gap-2.5 ">
      <div class="flex items-center border border-gray-light rounded relative">
        <div class="absolute left-1">
          <lucide-icon class="w-5 h-5" [img]="UserRoundSearchIcon"></lucide-icon>
        </div>
        <input
          class="pl-7 p-2"
          type="search"
          placeholder="Search Employee"
          [(ngModel)]="searchName"
          (input)="onSearch()"
        >
      </div>

      <!-- Positions -->
      <select
        [(ngModel)]="selectedPosition"
        (ngModelChange)="getEmployees(currentPage, pageSize)"
        class="text-deep p-2 border border-gray-light rounded hover:opacity-80"
      >
        <option [ngValue]="null">All Positions</option>
        <option *ngFor="let position of positions" [ngValue]="position">
          {{ position.name }}
        </option>
      </select>

      <!-- Departments -->
      <select
        [(ngModel)]="selectedDepartment"
        (ngModelChange)="getEmployees(currentPage, pageSize)"
        class="text-deep p-2 border border-gray-light rounded hover:opacity-80"
      >
        <option [ngValue]="null">All Departments</option>
        <option *ngFor="let department of departments" [ngValue]="department">
          {{ department.name }}
        </option>
      </select>

    </div>
  </header>
  <table class="table-auto w-full mt-4 text-center">
    <thead class="bg-gray-light">
      <tr>
        <th class="rounded-tl rounded-bl py-2">ID</th>
        <th class="py-2">Name</th>
        <th class="py-2 hidden md:table-cell">Phone</th>
        <th class="py-2 hidden md:table-cell">Position</th>
        <th class="py-2 hidden lg:table-cell">Department</th>
        <th class="py-2 hidden lg:table-cell">Shift</th>
        <th class="rounded-tr rounded-br py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-light" *ngFor="let employee of employees">
        <td class="py-2">{{ employee.id }}</td>
        <td class="py-2">{{ employee.firstName }}</td>
        <td class="py-2 hidden md:table-cell">{{ employee.phone }}</td>
        <td class="py-2 hidden md:table-cell">{{ employee.position.name }}</td>
        <td class="py-2 hidden lg:table-cell">{{ employee.department.name }}</td>
        <td class="py-2 hidden lg:table-cell">{{ employee.shift }}</td>
        <td class="py-2">
          <button
            (click)="openEmployeeProfileModal(employee)"
            class="border border-gray-light p-1 rounded hover:opacity-70">
            <lucide-icon [img]="EyeIcon"></lucide-icon>
          </button>
          <button
            class="border border-gray-light mr-1 p-1 rounded hover:opacity-70"
          >
            <lucide-icon [img]="PencilIcon"></lucide-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    class="flex justify-center mt-5"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)"
  >
  </app-pagination>
</section>

<div
  *ngIf="showEmployeeProfileModal"
  class="fixed inset-0 bg-deep/70 flex items-center justify-center"
>
  <app-employee-profile
    [employee]="selectedEmployeeForModal"
    (closeModal)="closeEmployeeProfileModal()"
    (errorMessage)="handleErrorModal($event)"
  >
  </app-employee-profile>
</div>
