<div>

  <section>

    <div>
      <img>
    </div>

    <div>

      <div>
        <p>Marcos Willians Guzenks</p>
        <div>
          <p>status</p>
          <p>Developer</p>
        </div>
      </div>

      <div>
        <div>
          <p>Departament</p>
          <p>Tecnology</p>
        </div>
        <div>
          <p>Data Hired</p>
          <p>March, 17, 2021</p>
        </div>
        <div>
          <p>neymargmail.com</p>
        </div>
        <div>
          <p>2492245-6789</p>
        </div>
      </div>

    </div>

  </section>

  <section>

  </section>
</div>
