<app-modal
 [headerText]="'Employee profile'"
 (closeCliked)="onClose()"
>

  <section *ngIf="employee"  class="flex gap-5">

    <div class="w-40 h-40 rounded-full bg-red-600">
      <img>
    </div>

    <div>

      <div class="border-b-2 border-gray-light pb-5">
        <p class="text-deep font-bold text-2xl">{{ employee.firstName }} {{ employee.lastName }}</p>
        <div class="flex items-center gap-2">
          <p
            class="p-1 rounded border-2"
            [ngClass]="getEmployeeStatusClasses(employee.status)"
          >
            {{ employee.status }}
          </p>
          <p class="text-gray">{{ employee.position.name }}</p>
        </div>
      </div>

      <div class="flex gap-5 mt-5">
        <div>
          <div class="flex gap-3">
            <p class="text-gray">Departament</p>
            <p>{{ employee.department.name }}</p>
          </div>
          <div class="flex gap-3">
            <p class="text-gray">Data Hired</p>
            <p>{{ employee.hiredDate| date: 'MMMM d, y' }}</p>
          </div>
        </div>
        <div>
          <div class="flex gap-1">
            <lucide-icon [img]="MailIcon"></lucide-icon>
            <p>{{ employee.email }}</p>
          </div>
          <div class="flex gap-1">
            <lucide-icon [img]="PhoneIcon"></lucide-icon>
            <p>{{ employee.phone }}</p>
          </div>
        </div>
      </div>

    </div>

  </section>



</app-modal>

