<div class="flex flex-col w-full" [formGroup]="form" >
  <label class="mb-2 text-sm font-medium text-gray">{{ field.label }}</label>

  <!-- input -->
  <input
    *ngIf="field.type === 'input'"
    [type]="field.inputType"
    [placeholder]="field.placeholder"
    [formControlName]="field.name"
    class="w-full px-4 py-2 rounded-xl border border-gray-light focus:outline-none focus:ring-2 focus:ring-primary shadow-sm transition"
  />

  <!-- select -->
  <select
    *ngIf="field.type === 'select'"
    [formControlName]="field.name"
    class="w-full px-4 py-2 rounded-xl border border-gray-light focus:outline-none focus:ring-2 focus:ring-primary shadow-sm transition"
  >
    <option [ngValue]="null" disabled hidden>{{ field.placeholder }}</option>
    <option *ngFor="let option of field.options" [ngValue]="option">
      {{ option?.name || option }}
    </option>
  </select>

  <!-- ERRO -->
  <div *ngIf="control?.touched && control?.invalid" class="text-sm text-red-500 mt-1">
    <div *ngIf="control?.errors?.['required']">
      {{ field.label }} is required.
    </div>
    <div *ngIf="control?.errors?.['email']">
      Invalid email.
    </div>
    <div *ngIf="control?.errors?.['minlength']">
      {{ field.label }} must be at least {{ control?.errors?.['minlength']?.requiredLength }} characters long.
    </div>
    <div *ngIf="control?.errors?.['maxlength']">
      {{ field.label }} must be less than {{ control?.errors?.['maxlength']?.requiredLength }} characters long.
    </div>
  </div>

</div>
