<app-modal
  *ngIf="user"
  [headerText]="'User Profile'"
  (closeCliked)="onClose()"
>

  <div class="space-y-6">
    <div class="flex items-center gap-6">
      <div class="w-32 h-32 flex items-center justify-center rounded-full bg-primary text-white-soft text-5xl font-bold">
        {{ user.username[0] }}
      </div>
      <div class="flex-1">
        <input
          *ngIf="isEditing"
          [(ngModel)]="editableUser.username"
          class="text-2xl font-medium border p-2 w-full rounded"
        />
        <p *ngIf="!isEditing" class="text-2xl font-medium">{{ user.username }}</p>
      </div>
    </div>

    <div class="text-lg flex flex-col">
      <label class="font-semibold">Role:</label>
      <select *ngIf="isEditing" [(ngModel)]="editableUser.role" class="border p-2 rounded">
        <option *ngFor="let role of userRoles" [value]="role">{{ role }}</option>
      </select>
      <p *ngIf="!isEditing">{{ user.role }}</p>
    </div>

    <div class="text-lg flex flex-col">
      <label class="font-semibold">Employee ID:</label>
      <input
        *ngIf="isEditing"
        [(ngModel)]="editableUser.employee"
        class="border p-2 rounded"
      />
      <p *ngIf="!isEditing">{{ user.employee }}</p>
    </div>

    <div class="text-lg flex flex-col">
      <label class="font-semibold">Status:</label>
      <select *ngIf="isEditing" [(ngModel)]="editableUser.status" class="border p-2 rounded">
        <option *ngFor="let status of userStatus" [value]="status">{{ status }}</option>
      </select>
      <p *ngIf="!isEditing" [ngClass]="{
        'text-green-600': user.status === 'ACTIVE',
        'text-red-600': user.status === 'INACTIVE'
      }">
        {{ user.status }}
      </p>
    </div>

  </div>

  <button
    modal-button
    *ngIf="!isEditing && canEditAdminOrSelf() && canEdit()"
    (click)="toggleEdit()"
    class="bg-secondary px-6 py-2 rounded-lg text-white font-medium transition hover:bg-secondary/80"
  >
    Edit
  </button>

  <button
    modal-button
    *ngIf="isEditing"
    (click)="saveChanges()"
    class="bg-green-500 px-6 py-2 rounded-lg text-white font-medium transition hover:bg-green-600"
  >
    Save
  </button>

  <a
    modal-button
    *ngIf="canEditAdminOrSelf()"
    [routerLink]="['/updatePassword', user.id]"
  >
    <button class="border border-secondary px-6 py-2 rounded-lg font-medium text-secondary transition hover:bg-secondary hover:text-white">
      Change Password
    </button>
  </a>

</app-modal>
