<app-modal
  [headerText]="'Add new department'"
  [disableSave]="form.invalid"
  (closeCliked)="onClose()"
  (saveClicked)="onSave()"
>

  <form class="flex flex-col gap-1.5">

    <label class="text-xl" for="name">Name</label>
    <input
      placeholder="exampleName"
      type="text"
      class="p-2 text-2xl border border-gray-light focus:outline-primary rounded"
      name="name"
      [(ngModel)]="name"
      required
      minlength="2"
      maxlength="100"
      #nameField="ngModel"
    >

    <div *ngIf="nameField.invalid && nameField.touched" class="text-red-500 text-sm">
      <div *ngIf="nameField.errors?.['minlength']">
        Name must be at least 2 characters long.
      </div>
      <div *ngIf="nameField.errors?.['maxlength']">
        Name must be less than 100 characters long.
      </div>
      <div *ngIf="nameField.errors?.['required']">
        Name is required.
      </div>
    </div>

  </form>

</app-modal>

